<!-- Using a two column grid for stacking in smaller views. -->
<div class="uk-grid-large uk-child-width-1-2@m" uk-grid>
  <div>
    <div class="ovw-header uk-flex uk-flex-between uk-flex-middle">
      <h3>sentences overview</h3>
      <control-bar></control-bar>
    </div>
    <ul class="uk-list">
      <li *ngFor="let sentence of sentences"
        [class.selected]="sentence == selected"
        (click)="selectItem(sentence)">
        <p>{{ sentence.getSentence() }}</p>
      </li>
    </ul>    
  </div>
  <sentence-form
    #editform
    *ngIf="selected"
    [sentenceToEdit]="selected">
  </sentence-form>
</div>